{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Learning log{% endblock title %}</title>
  <link rel="icon" type="image/x-icon" href="{% static "images/favicon.ico" %}">
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}
  <link rel="stylesheet" href="{% static "css/base.css" %}">
</head>
<body>
  <header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 border-0">
      
      <a class="navbar-brand" href="{% url "home" %}">
        <img src="{% static "images/learning-log-logo.svg" %}" width="30" height="30" class="d-inline-block align-top">
        Learning Log
      </a>

      <button class="navbar-toggler" type="button" data-toggle="collapse"
        data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span></button>
        
      <div class="collapse navbar-collapse" id="navbarCollapse">
        {% if not user.is_authenticated == False%}
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" id="btn-topics" href="{% url "topic_list" %}">Topics</a>
          </li>
        </ul>
        {% endif %}
        <ul class="navbar-nav ml-auto">
        {% if user.is_authenticated %}
        <li class="nav-item mr-2">
          <a class="nav-link" href="#">{{ user.username }}</a>
        </li>
        <li class="nav-item d-flex align-items-center">
          <a class="btn btn-danger btn-sm" href="{% url "logout" %}">Log out</a>
        </li>
        </ul>
        {% else %}
          <div>
            <a class="btn-login mr-2" href="{% url "login" %}">Log in</a>
            <a class="btn btn-outline-light btn-sm" href="{% url "signup" %}">Sign up</a>
          </div>    
        {% endif %}
      </div>
    </nav>
  </header>
  <main role="main" class="container">
    <div class="pb-2 mb-2 border-bottom">
      {% block page_header %}{% endblock page_header %}
    </div>
    <div>
      {% block content %}{% endblock content %}
    </div>
  </main>
</body>
</html>
