{% extends "base.html" %}

{% block title %}{{user.username}}/topics{% endblock title %}

{% block page_header %}
  <div class="d-flex justify-content-between">
    <p class="h2">Topics</p>
    <a class="btn btn-primary d-flex align-items-center" href="{% url "topic_new" %}" role="button">Add a new topic</a>
  </div>
{% endblock page_header %}

{% block content %}
{% if topic_list %}
<div class="row row-cols-1 row-cols-md-2">
  {% for topic in topic_list %}
    <div class="col mb-4">
      <div class="card">
        <div class="card-body">
          <h5><a>{{ topic }}</a></h5>
        </div>
        <div class="card-footer">
          <a class="btn btn btn-info" href="{% url "topic_detail" topic.pk %}">See entries</a>
          <a class="btn btn-danger" href="{% url "topic_delete" topic.pk %}">Delete</a>
        </div>
      </div>
    </div>
  {% endfor %}
</div>
{% else %}
<p>No topics have been added yet.</p>
{% endif %}
{% endblock content %}
